DB_HOST=localhost
DB_NAME=dynasty_db
DB_USER=postgres
DB_PASSWORD=stufffff
SECRET_KEY=some-random-secret-string

DATABASE_URL= random-url-postgres

FIREBASE_API_KEY=your_web_api_key
FIREBASE_AUTH_DOMAIN=your-project-id.firebaseapp.com
FIREBASE_PROJECT_ID=your-project-id

FIREBASE_SERVICE_ACCOUNT_JSON=secrets/serviceAccountKey.json
FIREBASE_DATABASE_URL=https://your-project-id-default-rtdb.firebaseio.com

SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_SERVICE_KEY=your_service_role_key
SUPABASE_BACKUP_BUCKET=dynasty-backups